.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(55%, 30em);
  gap: 2rem;
  color: var(--main-primary-color-light);
}

.profile .profile-icon {
  width: 8rem;
}

.profile .email {
  font-size: 1.2rem;
}

.profile .link-container {
  color: var(--main-primary-color-light);
  display: flex;
  width: min(100%, 30em);
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem;
}

.link-container img {
  width: max(3vw, 2rem);
  margin-inline-end: 0.5rem;
}

.center {
  border-block: 1px solid #b1b1b1;
}
